#include <zephyr/dt-bindings/sensor/ism330dhcx.h>

&i2c0 {
    status = "okay";

    st_ism330dhcx: ism330dhcx@6a {
        compatible = "st,ism330dhcx";
        reg = <0x6a>;
        accel-range = <4>;       /* ±4g full scale */
        accel-odr = <ISM330DHCX_DT_ODR_104Hz>;       /* 104 Hz output data rate */
        gyro-range = <2000>;     /* ±2000 dps */
        gyro-odr = <ISM330DHCX_DT_ODR_104Hz>;   /* 104 Hz output data rate */
    };
};


&pinctrl {
	i2s0_default: i2s0_default {
		group1 {
			pinmux = <I2S0_O_WS_GPIO16>, 	// feather pin A2
				<I2S0_O_BCK_GPIO17>,		// feather pin A1
				//  <I2S0_O_SD_GPIO38>,
				<I2S0_I_SD_GPIO18>;			// feather pin A0
			input-enable;
		};
	};
};

&i2s0 {
	pinctrl-0 = <&i2s0_default>;
	pinctrl-names = "default";
};

i2s_rx: &i2s0 {
	status = "okay";

	dmas = <&dma 2>;
	dma-names = "rx";
};

&dma {
	status = "okay";
};